extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Created to provide detail review of every hospital near you .
        | <br /><br />
        | Helps you to book appointments online instead of waiting in a lengthy line .
        | <br /><br />
        | Book faster get cured faster.
        <br>
      img(src="/images/hello.jpg", alt="hospital")
        