extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | MovieTime was created to help you book movie tickets online.
        | <br /><br />
        | MovieTime helps you save time by booking your movie tickets online without wasting your time by standing in queues at theatres.You can enjoy watching your favourite actor/actress perfrom on screen and watch their new movies by booking through this app.
        | <br /><br />
        | It helps you buy tickets of your favourite movie nearby your area.
        