extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Asain Muktha mall
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p screen no.1
          .panel.panel-primary
            .panel-heading
              h2.panel-title shows 
            .panel-body
              p 21 Aug jailer : 4:00pm
              p 21 aug Heart of stone : 7:00pm
              p 21 aug Raghuvaran Btech : 10:00pm
          .panel.panel-primary
            .panel-heading
              h2.panel-title order food
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;soft drinks
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;popcorn
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;French fries
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title available seats
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor Nick Jonas
                    small.reviewTimestamp 16 August 2023
                  .col-xs-12
                    p heart of stone was awesome!
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Karthik Aryan
                    small.reviewTimestamp 18 August 2023
                  .col-xs-12
                    p Had a fun experience.
    .col-xs-12.col-md-3
      p.lead
        | If you've seen and you like it - or if you don't - please leave a review to help people who haven't watched yet.