extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | V-Cure
          small &nbsp;Book your appointment online !
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Rainbow Hospital
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address Narapally, Ghatkesar.
          p
            span.label.label-warning Cardiology
            | &nbsp;
            span.label.label-warning Neurology
            | &nbsp;
            span.label.label-warning Odontology
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location1') Kims Hospital
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address Ramanthapur, uppal
          p
            span.label.label-warning Cardiology
            | &nbsp;
            span.label.label-warning Neurology
            | &nbsp;
            span.label.label-warning ENT
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Neelima Hospital
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address Mindspace, Madhapur, Hyderabad
          p
            span.label.label-warning Odontology
            | &nbsp;
            span.label.label-warning RMP
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') Cure Hospital
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address Mindspace, Madhapur, Hyderabad
          p
            span.label.label-warning Odontology
            | &nbsp;
            span.label.label-warning RMP
            | &nbsp;
    .col-xs-12.col-sm-4
      img(src="/images/hos.png", alt="Cure")
      p.lead
        | Want to know the reality of services <br>provided in a hospital ? <br> Check out V-Cure to know more <br>about the hospitals near you .