extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | MovieTime
          small &nbsp;Book your movie tickets online!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Asain muktha mall
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address Narapally, Ghatkesar.
          p
            span.label.label-warning  jailer
            | &nbsp;
            span.label.label-warning Heart of stone
            | &nbsp;
            span.label.label-warning Raghuvaran btech
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location1') DSL mall
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address Ramanthapur, uppal
          p
            span.label.label-warning jailer
            | &nbsp;
            span.label.label-warning heart of stone
            | &nbsp;
            span.label.label-warning baby
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Inorbit mall
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address Mindspace, Madhapur, Hyderabad
          p
            span.label.label-warning Heart of stone
            | &nbsp;
            span.label.label-warning Raghuvaran btech
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Tired of standing in line to buy movie tickets? you can book your favourite movie tickets from nearby theatres.