extends layout
block content
 .container
  h1 Book your appointment
  p.lead
   form(role='form', action='/', method='post')
    .form-group
     label(for='username') Name
     input.form-control(type='text', id='user', name='username', placeholder='enter your name')
    .form-group
     label(for='hospital')  Hospital name
     input.form-control(type='text', id='hospital', name='hospital', placeholder='enter selected hospital name')
    .form-group
     label(for='appointment time')  Appointment time
     input.form-control(type='text', id='time', name='appointment time', placeholder='enter time')
    .form-group
     label(for='cause') Cause
     input.form-control(type='text', id='cause', name='cause', placeholder='Mention your cause')
    button.btn.btn-primary(type='submit' ) Book
    &nbsp;
    a.btn.btn-default(role='button', href='/') Cancel
 